__pycache__
env
.env
instance
log
outputs

# extensions
*.egg-info
*.py[cod]

# envs
.pt13
.pt2

# directories
/checkpoints
/dist
/outputs
/build
/src
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
